<button {{on "click" (fn (mut this.foo.bar) (concat this.foo.bar "baz"))}}>
  Add "baz"
</button>

<div>
  "is it baz?" should show "false" at first, then "true", then "false" for all future presses.  
</div>

<div>
  is it baz? {{this.foo.isBarBaz}}
</div>
